<router-outlet></router-outlet>

<ng-container *ngIf="plugin">
  <ng-container
    *ngComponentOutlet="
      plugin.componentType;
      ngModuleFactory: plugin.moduleFactory;
      injector: plugin.injector
    "
  >
  </ng-container>
</ng-container>

<button (click)="renderComponent()">RENDER_COMPONENT</button>

<ng-container #container></ng-container>

<button (click)="showComponent()">SHOW_COMPONENT</button>

<span style="background-color: black">BLACK</span>
<span style="background-color: purple">PURPLE</span>
<span style="background-color: blue">BLUE</span>
